[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "maic"]
	path = maic
	url = https://github.com/heorltd/maic
	shallow = true
	registered = true
